@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

/* Colour Scheme */
/* - #1f0a1c - #dbf1fa - #7f4b91 - #411f2a - #de643b = orange */

/* Global Styles */
* {
    font-family: 'Truculenta', sans-serif;
    color: #dbf1fa;
}

html,
body {
    height: 100vh;
    margin: 0;
}

a {
    color: #de643b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


p {
    font-size: 1.2rem;
}
h2{
    font-size: 1.5rem;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.bottom-border{
    border-bottom: #000 solid 1.5px;
    box-shadow: #1f0a1c 0px 0px 10px;
}

.hidden{
    display: none;
}

.btn-primary {
    background-color: #de643b;
    color: #dbf1fa;
    border:#1f0a1c solid 2px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.btn-primary:hover{
    background-color: #dbf1fa;
    color: #1f0a1c;
}



/* header */
h1 {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: #dbf1fa;
}

/* Navbar */
.navbar {
    background-color: #1f0a1c;
    padding: 1rem;
    color:#dbf1fa;
}
.navbar-nav .nav-link {
    color: #dbf1fa;
    padding: 0.5rem 2rem;
    font-size: 1.5em;
}

.navbar-nav .nav-link.active {
    color: #de643b;
}

.navbar-nav .nav-link:hover {
    color: #de643b;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}


/* main */
main {
    background-color: #411f2a;
    flex: 1;
}
/* hero banner */
#hero {
    width: 100%;
    height: 500px;
    color: #dbf1fa;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    background: url(/static/images/hero_image.jpg) no-repeat center/cover;
    background-color: #de643b;
    padding: 8em;
}
#hero .btn{
    background-color: #de643b;
    color: #dbf1fa;
    border:#1f0a1c solid 2px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    text-shadow: none;
}
#hero .btn:hover{
    background-color: #dbf1fa;
    color: #1f0a1c;
}
/* review list */
#listTitle {
    text-align: center;
    font-size: 2rem;
    margin: 1em;
}

.review-list {
    margin: 1em;
}

#review-list a {
    text-decoration: none;
}

#review-list a:hover {
    text-decoration: none;
}

#review-list .card {
    border: #1f0a1c solid 2px;
    border-radius: 10px;
    background-color: #1f0a1c;
    box-shadow: #1f0a1c 0px 0px 10px;
    color: #dbf1fa;

}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body .btn {
    margin-top: auto;
}

/* forms */

input,
textarea {
    border: #1f0a1c solid 1px;
    border-radius: 30px;
    color: #1f0a1c;
    padding: 0.5rem;
}

/* Comment form */

comment-form textarea {
    padding: 1rem;
    max-width: 60vw;
    height: 141px;
}

/* review form */

#review-form textarea{
    padding: 1rem;
}



#review-form {
    border: solid 1px;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
}

#review-form label {
    display: block;
}
.reviewForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Sign Up */
form>ul>li {
    list-style: none;
    margin-left: 0;
}

/* Ensure footer is fixed to the bottom */


/* Footer */

footer {
    background-color: #1f0a1c;
    text-align: center;
}
footer p {
    margin: 0;
    padding: 0.5rem;
}