{% extends 'base.html' %}

{% block title %}Create Review{% endblock %}

{% block content %}
<h1>Create a New Review</h1>
<div class="reviewForm">
<form method="post">
    <div id="review-form" class="mb-2 mx-3">
    {% csrf_token %}
    <fieldset class="bottom-border mb-2">
        <legend>Album Information:</legend>
        <!--  Users can select existing albums -->
        {{ album_form.existing_album.label_tag }} {{ album_form.existing_album }}
        <p>Or enter new album details:</p>
        <!-- Input for Album information -->
        {{ album_form.title.label_tag }} {{ album_form.title }}
        {{ album_form.artist.label_tag }} {{ album_form.artist }}
        {{ album_form.image_url.label_tag }} {{ album_form.image_url }}
        {{ album_form.description.label_tag }} {{ album_form.description }}
    </fieldset>
    <fieldset>
        <!-- Review form fields -->
        <legend>Review:</legend>
        {{ review_form.as_p }}
    </fieldset>
    <button type="submit">Submit</button></div>
</form>
</div>

{% endblock %}