{% extends 'base.html' %}
{% load static %}


<div class="hidden">
{% block title %}BeatBoxd | Create Review{% endblock %}
</div>
{% block content %}
<h1>Create a New Review</h1>
<div class="reviewForm">
<form method="post">
    <div id="review-form" class="mb-2 mx-3">
    {% csrf_token %}
    <fieldset class="bottom-border mb-2">
        <legend>Album Information:</legend>
        <!-- Input for Album information -->
        {{ album_form.as_p }}
    </fieldset>
    <fieldset class="bottom-border mb-2">
        <legend>Rating:</legend>
        {{ rating_form.as_p }}
    <fieldset>
        <!-- Review form fields -->
        <legend>Review:</legend>
        {{ review_form.as_p }}
    </fieldset>
    <button class="btn btn-primary" type="submit">Submit</button></div>
</form>

<!-- CUSTOM JS FOR FORM -->
<script src="{% static 'js/create_review.js' %}"></script>

</div>
{% endblock %}