{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="hero" class="container-fluid mb-4">
    <div class="col-12">
    <h2>Everyone's a critic.</h2>
    <p>Share your thoughts on the latest music releases.</p>
    <a href="{% url 'create_review' %}" class="btn btn-primary my-auto">Write a Review</a>
</div>
</div>

<h2>Recent Reviews</h2>
<div class="container-fluid" id="review-list">
    <div class="row">
        {% for review in reviews %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <a href="{% url 'review_detail' review.slug %}" class="post-link">
                <div class="card mb-4">
                    {% if review.album.image_url %}
                    <!-- Display the album cover image if available -->
                    <img class="card-img-top" src="{{ review.album.image_url }}"
                        alt="{{ review.album.title | title }} album cover">
                    {% endif %}
                    <div class="card-body">
                        <!-- Display the review heading -->
                        <h5 class="card-title album-name">{{ review.album | title}}</h5>
                        <!-- Display the album title -->
                        <p class="card-text review-heading"><strong>{{ review.heading }}</strong></p>
                        <!-- Display the author's username -->
                        <p class="card-text author">{{ review.author.username }}</p>
                        <!-- Display the creation date of the review -->
                        <p class="card-text">{{ review.created_on }}</p>
                        <!-- Display the review excerpt -->
                        <p class="card-text">{{ review.excerpt }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}