{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="hidden">
    {% block title %} BeatBoxd | {{ review.heading }} {% endblock %}
    {% block description %} {{ review.excerpt }} {% endblock %}
</div>

<div class="masthead mt-3">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6">
                <!-- Review title goes in these h1 tags -->
                <h2 class="review-title h1">{{ review.heading|title }}</h2>
                <!-- Review author goes before the | the review's created date goes after -->
                {% if review.created_on == review.updated_on %}
                <p class="review-subtitle">{{ review.author }} | {{ review.created_on }}</p>
                {% else %}
                <p class="review-subtitle">{{ review.author }} | {{ review.created_on }} | Last Edited On: {{
                    review.updated_on }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Cover and Tracklist -->
        <div class="col-md-4 card p-3 my-3">
            {% if review.album.image_url %}
            <!-- Display the album cover image if available -->
            <img class="img-fluid" src="{{ review.album.image_url }}" alt="{{ review.album.title|title }} album cover">
            {% else %}
            <!-- Display a placeholder image if the album cover is not available -->
            <img class="img-fluid" src="{% static 'images/placeholder_cover.jpg' %}" alt="Placeholder album cover">
            {% endif %}
            <!-- Album title and information -->
            <h2 class="album-title">{{ review.album.title|title }} by {{ review.album.artist|title}}</h2>
            <p class="mb-0 mt-1"><strong>Description:</strong></p>
            <p class="album-info">{{ review.album.description|safe }}</p>
            <!-- Display the tracklist if available -->
            <div class="album-tracklist mt-3">
                {% if review.album.tracklist %}
                <h2>Tracklist</h2>
                <ul>
                    {% for track in review.album.tracklist %}
                    <li>{{ track }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <!-- Title, Information and Review content -->
        <div class="col-md-8">
            <div class="review-content my-3 ">
                <div class="card p-3 mb-4">
                    {% if review.rating %}
                    <p>Rating: {{ review.rating }}/5</p>
                    {% endif %}
                    {{ review.body|safe }}

                    <!-- Review Actions -->
                    {% if user.is_authenticated and user == review.author %}
                    <div class="review-actions mt-3 my-5 pb-3">
                        <a href="{% url 'edit_review' review.slug %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_review' review.slug %}" class="btn btn-danger">Delete</a>
                    </div>
                    {% endif %}

                    <section class="comments">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Comments</h2>
                                    <div class="comment-form">
                                        <form method="post">
                                            {% csrf_token %}
                                            <textarea name="body" class="form-control"
                                                placeholder="Add a comment"></textarea>
                                            <button class="btn btn-primary mt-3" type="submit">Submit</button>
                                        </form>
                                        {% if form_submitted and form_submitted == True %}
                                        <p class="mt-2">Comment submitted successfully and awaiting approval!</p>
                                        {% endif %}
                                    </div>
                                    <div class="comments-list">
                                        {% for comment in comments %}
                                        <div class="comment my-3 pb-3">
                                            <p>{{ comment.author }} | {{ comment.created_on }}</p>
                                            <p>{{ comment.body | safe}}</p>
                                            {% if user.is_authenticated and user == comment.author %}
                                            <div class="comment-actions">
                                                <button class="btn btn-link edit-comment-btn">Edit</button>
                                                <form method="post" class="edit-comment-form d-none">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                    <textarea name="body"
                                                        class="form-control">{{ comment.body | safe}}</textarea>
                                                    <button class="btn btn-secondary mt-2" type="submit">Save</button>
                                                </form>
                                                <form method="post" class="delete-comment-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete_comment_id"
                                                        value="{{ comment.id }}">
                                                    <button class="btn btn-link delete-comment-btn"
                                                        type="submit">Delete</button>
                                                </form>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 related_review_list">
                    <h2>Related Reviews</h2>
                    <ul>
                        {% for related_review in related_reviews %}
                        <li class="pb-3">
                            <a href="{% url 'review_detail' related_review.slug %}">
                                {{ related_review.heading|title }} |
                                Posted by {{ related_review.author }} |
                                {{ related_review.album.title|title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/edit_comment.js' %}"></script>







{% endblock content %}