<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Review List</title>
</head>

<body>
    <h1>Review List</h1>
    <ul>
        {% for review in reviews %}
        <li>
            <h2>{{ review.title }}</h2>
            {% if review.image_url %}
            <img src="{{ review.image_url }}" alt="{{ review.album.title }} album cover" />
            {% endif %}
            <p><strong>Album:</strong> {{ review.album }}</p>
            <p><strong>Author:</strong> {{ review.author.username }}</p>
            <p><strong>Created on:</strong> {{ review.created_on }}</p>
            <p>{{ review.excerpt }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>