{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid px-3 mt-5" id="review-list">
    <div class="row">
        <!-- Review list, bootstrap cards -->
        {% for review in reviews %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
            <a href="{% url 'review_detail' review.slug %}">
                <div class="card">
                    {% if review.album.image_url and review.album.image_url != '' %}
                    <!-- Display the album cover image if available -->
                    <img class="card-img-top bottom-border" src="{{ review.album.image_url }}"
                        alt="{{ review.album.title | title }} album cover">
                    {% else %}
                    <!-- Display a placeholder image if the album cover is not available -->
                    <img class="card-img-top bottom-border" src="{% static 'images/placeholder_cover.jpg' %}"
                        alt="Placeholder album cover">
                    {% endif %}
                    <div class="card-body">
                        <!-- Display the review heading -->
                        <h5 class="card-title album-name">{{ review.album | title}}</h5>
                        <!-- Display the album title -->
                        <p class="card-text review-heading"><strong>{{ review.heading }}</strong></p>
                        <!-- Display the author's username -->
                        <p class="card-text author">{{ review.author.username }}</p>
                        <!-- Display the creation date of the review -->
                        <p class="card-text">{{ review.created_on }}</p>
                        <!-- Display the review excerpt -->
                        <p class="card-text">{{ review.excerpt | safe }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}