{% extends 'base.html' %}
{% block title %}Review List{% endblock %}
{% block content %}

    <h1>Review List</h1>
    <ul>
        {% for review in reviews %}
        <li>
            <h2>{{ review.heading }}</h2>
            {% if review.image_url %}
            <img src="{{ review.image_url }}" alt="{{ review.album.title }} album cover" />
            {% endif %}
            <p><strong>Album:</strong> {{ review.album }}</p>
            <p><strong>Author:</strong> {{ review.author.username }}</p>
            <p><strong>Created on:</strong> {{ review.created_on }}</p>
            <p>{{ review.excerpt }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
